{erl_opts, [
	warn_export_all,
	{i,"/usr/lib/ejabberd/include"},
	{i,"/lib/ejabberd/include"},
	{d, 'LAGER'}
]}.

{lib_dirs, [
	"/usr/lib/ejabberd/ebin",
	"/lib/ejabberd/ebin"]}.

{deps, [
	{lager, "2.0.3", {git, "https://github.com/basho/lager.git", {tag, "2.0.3"}}},
	{p1_xml, ".*", {git, "https://github.com/processone/xml.git"}}
]}.
